!!! 5

%html
  %head
    %title Remark
    = javascript_include_tag "https://gnab.github.io/remark/downloads/remark-latest.min.js"
    = stylesheet_link_tag stylesheet
    %meta(name="viewport" content="initial-scale=0.5")

  %body
    %textarea#source= yield
    :javascript
      var slideshow = remark.create();
